---
interface Props {
  videoId: string;
  title: string;
}

const { videoId, title } = Astro.props;
---

<div class="aspect-video w-full rounded-lg overflow-hidden" style="box-shadow: 0 1px 3px rgba(0,0,0,0.08);">
  <iframe
    src={`https://www.youtube.com/embed/${videoId}`}
    title={`${title} - YouTube Video`}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy"
    class="w-full h-full"
  ></iframe>
</div>
